<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="project.Properties.Settings.Blood_BankConnectionString"
            connectionString="Data Source=DESKTOP-078TQ4U;Initial Catalog=&quot;Blood Bank&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="project.Properties.Settings.BLOODSYSTEMConnectionString"
            connectionString="Data Source=DESKTOP-078TQ4U;Initial Catalog=BLOODSYSTEM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>